@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.gradient-multiline {
  position: relative;
  width: 300px;
  margin: 2rem auto;
  background-color: #fff;
  text-align: center;
  
  overflow:hidden;
}
h1{
    font-size: 2.8rem;
}
.gradient-multiline span {
  color: #fff;
  background-color: #000;

  padding: 0.225rem 0.5rem;

  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

@supports(mix-blend-mode: lighten) {
  
  .gradient-multiline::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(60deg, #3629a2, #00ceff);
    mix-blend-mode: lighten;
  }
  
}

.list-group-item{
    padding: 0.3rem 1rem;
}

input[type="checkbox"]{
    margin:auto 5px auto 0px;
}
.item i {
    color:#007BFF;
    margin-left: 5px;
    cursor: pointer;
      &.grow {
        transition: all .2s ease-in-out;
        &:hover {
          transform: scale(1.5);
        }
      }
}

